@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-image: radial-gradient(
    circle,
    #e1e7ff20 10%,
    #acbbf480 50%,
    #e1e7ff20 90%
  ); */
  background-color: #fffff0;
}
