.home {
  margin: auto;
  width: 75%;
}

.home__post {
  display: flex;
  /* border: 1px solid red; */
}

.home__post__image {
  max-width: 200px;
  max-height: 200px;

  width: 30vw;
  height: 30vw;
}

.home__post__info {
  margin-left: 10px;
  width: 60vw;
}

/* responsive desktop */
@media only screen and (min-width: 1300px) {
  /* Para saber en qué pantalla estoy trabajando */

  .home {
    width: 50%;
  }
}

/* responsive iPad */
@media only screen and (max-width: 770px) {
  /* Para saber en qué pantalla estoy trabajando */

  .home {
    width: 85%;
  }
}

/* responsive mobile */
@media only screen and (max-width: 450px) {
  /* Para saber en qué pantalla estoy trabajando */

  .home {
    width: 90%;
  }

  .home__post {
    height: 200px;
    padding-bottom: 10px;
    overflow: hidden;
  }

  .home__post p {
    height: 45px;
    overflow: hidden;
  }
}
