.home {
  margin: auto;
  width: 75%;
}

.home__post {
  display: flex;
}

.home__post__image {
  max-width: 250px;
  max-height: 250px;

  width: 30vw;
  height: 30vw;
}

.home__info {
  margin-left: 10px;
}

/* responsive iPad */
@media only screen and (max-width: 770px) {
  /* Para saber en qué pantalla estoy trabajando */

  .home {
    width: 85%;
  }
}

/* responsive mobile */
@media only screen and (max-width: 390px) {
  /* Para saber en qué pantalla estoy trabajando */

  .home {
    width: 90%;
  }
}
